# Dag 2 – Indeksering & Filtrering i Pandas + Funksjoner i Script
Teori / Læringsmål
* ~~Lære forskjellen på .loc og .iloc~~
* ~~Filtrere rader basert på betingelser~~
* ~~Lage små funksjoner for gjenbruk av kode~~

Praktiske oppgaver (Notebook)
* ~~Indeksering med .loc~~
* ~~Hent alle kolonner for ansatte i avdeling HR.~~
* ~~Indeksering med .iloc~~
* ~~Hent de to første radene i DataFrame.~~
* ~~Filtrering med flere betingelser~~
* ~~Sorter DataFrame etter lønn, stigende eller synkende.~~

Praktiske oppgaver (Script)
Lag en funksjon:
def filtrer_hr(df):
    return df.loc[df['Avdeling'] == 'HR']
Bruk if __name__ == "__main__": for å kjøre funksjonen og printe output.

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([["Lise Hansen", 28, "HR", 550000], 
                    ["Knut Knutsen", 36, "IT", 780000], 
                    ["Arild Arildsen", 52, "Ledelse", 1020000], 
                    ["Helen Hansen", 43, "Finans", 980000], 
                    ["Stian Stiansen", 39, "Renholder", 510000]], 
                    columns=["Navn", "Alder", "Avdeling", "Lønn"])

In [3]:
hr_ansatte = df.loc[df["Avdeling"] == "HR"]
print(hr_ansatte)

          Navn  Alder Avdeling    Lønn
0  Lise Hansen     28       HR  550000

In [6]:
filtrert = df[(df["Lønn"] > 550000) & (df["Alder"] > 37)]
print(filtrert)

             Navn  Alder Avdeling     Lønn
2  Arild Arildsen     52  Ledelse  1020000
3    Helen Hansen     43   Finans   980000

In [8]:
df_sort = df.sort_values(by="Lønn", ascending=False)
print(df_sort)

             Navn  Alder   Avdeling     Lønn
2  Arild Arildsen     52    Ledelse  1020000
3    Helen Hansen     43     Finans   980000
1    Knut Knutsen     36         IT   780000
0     Lise Hansen     28         HR   550000
4  Stian Stiansen     39  Renholder   510000

In [9]:
def filter_hr(df):
    return df.loc[df["Avdeling"] == "HR"]

In [11]:
print(filter_hr(df))

          Navn  Alder Avdeling    Lønn
0  Lise Hansen     28       HR  550000